
<h2>Your jobs</h2>
 

<div class="nav2">
  <ul>
    <br>
     <div class="container2">


<<<<<<< HEAD
<% @jobs.each do |job| %>
<li><a href="/jobs/<%= job.id %>"><%= job.description %></a></li>
=======
<% current_user.boats.each do |job| %>
<li id="list"><a href="/jobs/<%= job.id %>"><%= job.name %></a></li>
>>>>>>> e7aa8aeae6d21f44ac7959a89779ad15ce1a1823
<% end %>



</div >
</ul>
</div >
