
<h2>Your jobs</h2>


<div class="nav2">
  <ul>
    <br>
     <div class="container2">


<% @jobs.each do |job| %>
<li><a href="/jobs/<%= job.id %>"><%= job.description %></a></li>
<% end %>



</div >
</ul>
</div >
