<h1>Jobs#index</h1>
<h1>Your jobs</h1>
<br>

<br>
<br>

<div class="nav2">
  <ul>
    <br>
     <div class="container2">


<% @jobs.each do |job| %>
<li><a href="/jobs/<%= job.id %>"><%= job.description %></a></li>
<% end %>



</div >
</ul>
</div >
