
<h2>Your jobs</h2>
 

<div class="nav2">
  <ul>
    <br>
     <div class="container2">


<% current_user.boats.each do |job| %>
<li id="list"><a href="/jobs/<%= job.id %>"><%= job.name %></a></li>
<% end %>



</div >
</ul>
</div >
