<h1>Your boats</h1>


<div class="nav2">
  <ul>
    <br>
     <div class="container2">

       <%= link_to 'Add a new boat', new_boat_path %>


<% current_user.boats.each do |boat| %>

<li id="list"><a href="/boats/<%= boat.id %>"><%= boat.name %></a></li>
<% end %>





</div >
</ul>
</div >
